@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    overflow: hidden;
}

.weight-scale span:nth-child(1)::after {
    content: "50";
}

.weight-scale span:nth-child(6)::after {
    content: "100";
}

.weight-scale span:nth-child(11)::after {
    content: "150";
}

.height-scale span:nth-child(1)::after {
    content: "130";
}

.height-scale span:nth-child(6)::after {
    content: "180";
}

.height-scale span:nth-child(11)::after {
    content: "230";
}

@layer base {
    :root {
        --gradient: #0052d4;
        --primary-color: white;

        --background: 230 65% 3.36%;
        --foreground: 230 10% 97.1%;

        --muted: 230 50% 12.6%;
        --muted-foreground: 230 10% 54.2%;

        --popover: 230 45% 5.46%;
        --popover-foreground: 230 10% 97.1%;

        --card: 230 45% 5.46%;
        --card-foreground: 230 10% 97.1%;

        --border: 230 50% 12.6%;
        --input: 230 50% 12.6%;

        --primary: 230 100% 42%;
        --primary-foreground: 230 10% 97.1%;

        --secondary: 230 50% 12.6%;
        --secondary-foreground: 230 10% 97.1%;

        --accent: 230 50% 12.6%;
        --accent-foreground: 230 10% 97.1%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 230 10% 97.1%;

        --ring: 230 100% 42%;
    }

    .content .content-div {
        @apply hidden;
    }

    .content .content-div.active {
        @apply flex;
    }

    #res {
        transition: all 0.5s ease-in-out;
    }

    #res.active {
        @apply block;
    }

    .fspan {
        @apply relative top-4 w-[2px] h-3 bg-gradient;
    }

    .fspan::after {
        @apply absolute bottom-[-30px] left-1/2 transform -translate-x-1/2 text-gradient text-[18px];
    }

    .fspan:first-child {
        @apply ml-5;
    }

    .fspan:last-child {
        @apply mr-5;
    }

    input[type="number"] {
        @apply px-2 py-1 rounded-sm;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        @apply w-[40px] h-[40px] mr-[-20rem] mb-[8rem] rounded-[5px] bg-white cursor-pointer transform rotate-180 appearance-none;
    }

    input[type="range"] {
        -webkit-appearance: none;
        -webkit-transition: 0.2s;
        @apply bg-card outline-none opacity-70 transition-opacity duration-200 rounded-md;
    }

    input[type="range"]::-moz-range-thumb {
        @apply w-6 h-6 bg-white rounded-full cursor-pointer;
    }

    .flex-column {
        @apply flex flex-col justify-center items-center;
    }
}
